<header class=header>
    <div class=header-container>
        <div class=header-logo>
            <img src=/logo.png alt=Logo class=logo-img>
            <span class=logo-text>Lovački Savez Crne Gore</span>
        </div>
        <nav class=nav>
            <a href=/ class=nav-link>
                <i class=fas fa-home nav-icon></i>
                Pregled
            </a>
            <a href=/nova-dozvola class=nav-link>
                <i class=fas fa-plus nav-icon></i>
                Nova dozvola
            </a>
            <a href=/pretraga class=nav-link>
                <i class=fas fa-search nav-icon></i>
                Pretraga
            </a>
            <a href=/logout class=nav-link logout-link>
                <i class=fas fa-sign-out-alt nav-icon></i>
                Odjava
            </a>
        </nav>
    </div>
</header>